<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({
        title: "Home",
        icon: "<%= asset_path('favicon.ico') %>"
      });
    });
  </script>
<% end %>

<!--<h2>Products</h2>-->

<!--<ul>-->
  <!--<% @products.each do |product| %>-->
    <!--<li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>-->
  <!--<% end %>-->
<!--</ul>-->

<html class=" js csstransitions" lang="en-US" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta name="google-site-verification" content="BugL4VKzUn2chxUTAv3sZc-5SIZDM_RPvMALvXkKbaI">
  <script src="https://api.autopilothq.com/anywhere/2d547ef79636429cb4bec33bc6bc338e6c65490809194574b1e57f4dab50740d/core.js" type="text/javascript" async=""></script><script type="text/javascript" async="" src="https://secure.quantserve.com/quant.js"></script><script type="text/javascript" async="" src="https://script.crazyegg.com/pages/scripts/0023/0067.js?404054"></script><script type="text/javascript" async="" src="https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.fullstory.com/s/fs.js"></script><script type="text/javascript" async="" src="https://assets.customer.io/assets/track.js" id="cio-tracker" data-site-id="a1710c66ce411e911293"></script><script type="text/javascript" async="" src="https://bat.bing.com/bat.js"></script><script type="text/javascript" async="" src="//munchkin.marketo.net/147/munchkin.js"></script><script type="text/javascript" async="" src="https://sjs.bizographics.com/insight.min.js"></script><script type="text/javascript" async="" src="https://cdn.segment.com/analytics.js/v1/hia1ovk0tl/analytics.min.js"></script><script src="https://api.autopilothq.com/anywhere/aa/2d547ef79636429cb4bec33bc6bc338e6c65490809194574b1e57f4dab50740d" type="text/javascript"></script><script src="https://api.autopilothq.com/anywhere/2d547ef79636429cb4bec33bc6bc338e6c65490809194574b1e57f4dab50740d" type="text/javascript" async=""></script><script src="//cdn.optimizely.com/js/73264267.js"></script>
  <script type="text/javascript">
      (function(o) {
      var b="https://api.autopilothq.com/anywhere/",t="2d547ef79636429cb4bec33bc6bc338e6c65490809194574b1e57f4dab50740d",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};if(!o.noaa){z(b+"aa/"+t,false)};y=function(){z(b+t,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})
      ({});
  </script>
  <title>Content Writing Services On Demand | Scripted</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Remove if not a responsive site -->

  <link rel="shortcut icon" href="https://www.scripted.com/wp-content/themes/scripted/images/favicon.png">

  <!-- This site is optimized with the Yoast SEO plugin v3.0.7 - https://yoast.com/wordpress/plugins/seo/ -->
  <meta name="description" content="Create content easily with Scripted's curated network of freelance writers. Order content such as blog posts, white papers, and product descriptions.">
  <meta name="robots" content="noodp">
  <link rel="canonical" href="https://www.scripted.com/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Content Writing Services On Demand | Scripted">
  <meta property="og:description" content="Create content easily with Scripted's curated network of freelance writers. Order content such as blog posts, white papers, and product descriptions.">
  <meta property="og:url" content="https://www.scripted.com/">
  <meta property="og:site_name" content="Scripted">
  <meta property="og:image" content="https://scripted.com/wp-content/uploads/2015/03/ScriptedLogo_Color-Single_Web.jpg">
  <script type="application/ld+json">{"@context":"http:\/\/schema.org","@type":"WebSite","url":"https:\/\/www.scripted.com\/","name":"Scripted","potentialAction":{"@type":"SearchAction","target":"https:\/\/www.scripted.com\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
  <!-- / Yoast SEO plugin. -->

  <script type="text/javascript">
      window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"https:\/\/www.scripted.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.4.2"}};
      !function(a,b,c){function d(a){var c,d=b.createElement("canvas"),e=d.getContext&&d.getContext("2d"),f=String.fromCharCode;return e&&e.fillText?(e.textBaseline="top",e.font="600 32px Arial","flag"===a?(e.fillText(f(55356,56806,55356,56826),0,0),d.toDataURL().length>3e3):"diversity"===a?(e.fillText(f(55356,57221),0,0),c=e.getImageData(16,16,1,1).data.toString(),e.fillText(f(55356,57221,55356,57343),0,0),c!==e.getImageData(16,16,1,1).data.toString()):("simple"===a?e.fillText(f(55357,56835),0,0):e.fillText(f(55356,57135),0,0),0!==e.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag"),unicode8:d("unicode8"),diversity:d("diversity")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag&&c.supports.unicode8&&c.supports.diversity||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
  </script>
  <script src="https://www.scripted.com/wp-includes/js/wp-emoji-release.min.js?ver=4.4.2" type="text/javascript">

  </script>
  <style type="text/css">
      img.wp-smiley,
      img.emoji {
          display: inline !important;
          border: none !important;
          box-shadow: none !important;
          height: 1em !important;
          width: 1em !important;
          margin: 0 .07em !important;
          vertical-align: -0.1em !important;
          background: none !important;
          padding: 0 !important;
      }
  </style>
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/click-to-tweet-by-todaymade/assets/css/styles.css?ver=4.4.2">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/digg-digg/css/diggdigg-style.css?ver=5.3.6" media="screen">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/page-list/css/page-list.css?ver=5.1">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/simple-subscribe/extension/readygraph/assets/css/default-popup.css?ver=4.4.2">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/themes/scripted/css/reset.css?ver=screen">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/themes/scripted/css/fonts.css?ver=screen">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/themes/scripted/css/entry.css?ver=screen">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/themes/scripted/style.css?ver=1.0" media="screen">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/wordpress-popular-posts/style/wpp.css?ver=3.3.3">
  <link rel="stylesheet" href="https://www.scripted.com/wp-content/plugins/simple-subscribe/assets/styleFrontEnd.css?ver=4.4.2">
  <script type="text/javascript" src="https://www.scripted.com/wp-includes/js/jquery/jquery.js?ver=1.11.3"></script>
  <script type="text/javascript" src="https://www.scripted.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
  <script type="text/javascript">
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
          window.analytics.load("hia1ovk0tl");
          window.analytics.page();
      }}();
  </script>
  <link rel="https://api.w.org/" href="https://www.scripted.com/wp-json/">
  <link rel="shortlink" href="https://www.scripted.com/">
  <style type="text/css">
      #wpadminbar #adminbarsearch {
          display: none;
      }
  </style>
  <script src="https://www.scripted.com/wp-content/themes/scripted/scripts/grid-images/js/modernizr.custom.js">

  </script>
  <script type="text/javascript">
      _bizo_data_partner_id = "6273";
  </script>
  <script type="text/javascript">
      (function() {
          var s = document.getElementsByTagName("script")[0];
          var b = document.createElement("script");
          b.type = "text/javascript";
          b.async = true;
          b.src = (window.location.protocol === "https:" ? "https://sjs" : "http://js") + ".bizographics.com/insight.min.js";
          s.parentNode.insertBefore(b, s);
      })();
  </script>
  <noscript>
    &lt;img height="1" width="1" alt="" style="display:none;" src="//www.bizographics.com/collect/?pid=6273&amp;fmt=gif" /&gt;
  </noscript>

  <script async="" type="text/javascript" src="//scriptedblog.disqus.com/count.js">

  </script>
</head>
<body class="home page page-id-4 page-template-default js">

<nav id="menu" role="navigation">
  <div class="nav-abs-wrap">
    <div class="utility-nav mobile-display tablet-display group">
      <div class="join-link triggers">
        <a>Join</a>
        <div class="join-links-hidden hide">
          <a href="https://dashboard.scripted.com/business/register">Business</a>
          <a href="https://dashboard.scripted.com/writer/register">Writer</a>
        </div>
      </div>
      <div class="login-link triggers">
        <a>Login</a>
        <div class="login-links-hidden hide">
          <a href="https://dashboard.scripted.com/business/login">Business</a>
          <a href="https://dashboard.scripted.com/writer">Writer</a>
        </div>
      </div>
    </div>
    <a class="menu-link close">
      <span class="icon-close"></span>
    </a>
    <div class="menu-header-menu-container">
      <ul id="menu-header-menu" class="menu">
        <li id="menu-item-13" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-4 current_page_item menu-item-13"><a href="https://www.scripted.com/">Home</a></li>
      <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="https://www.scripted.com/products-pricing/">Products &amp; Pricing</a></li>
      <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-42"><a href="https://www.scripted.com/how-it-works/">How It Works</a>
        <ul class="sub-menu">
          <li id="menu-item-6046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6046"><a href="https://www.scripted.com/products-pricing/account-management/">Managed Writing Services</a></li>
          <li id="menu-item-9553" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9553"><a href="https://www.scripted.com/how-it-works/writer-matching-technology/">Our Technology</a></li>
          <li id="menu-item-6044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6044"><a href="https://www.scripted.com/how-it-works/our-api/">Our API</a></li>
          <li id="menu-item-8161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8161"><a href="https://scripted.zendesk.com/hc/en-us/categories/200139050-Businesses">Business FAQs</a></li>
          <li id="menu-item-8160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8160"><a href="https://scripted.zendesk.com/hc/en-us/categories/200139040-Writers">Writer FAQs</a></li>
        </ul>
        <span class="icon-arrow-down"></span></li>
      <li id="menu-item-6822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6822"><a href="https://www.scripted.com/our-writers/">Our Writers</a></li>
      <li id="menu-item-12303" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12303"><a href="https://www.scripted.com/topic-marketplace/">Topic Marketplace</a></li>
      <li id="menu-item-10419" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10419"><a href="https://www.scripted.com/industries/">Writing Samples</a></li>
      <li id="menu-item-6049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6049"><a href="https://www.scripted.com/who-we-are/">Who We Are</a>
        <ul class="sub-menu">
          <li id="menu-item-6050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6050"><a href="https://www.scripted.com/who-we-are/">Our Story</a></li>
          <li id="menu-item-6002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6002"><a href="https://www.scripted.com/who-we-are/in-the-news/">Press</a></li>
          <li id="menu-item-53" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-53"><a href="https://www.scripted.com/who-we-are/team/">Team</a></li>
          <li id="menu-item-50" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-50"><a href="https://www.scripted.com/who-we-are/careers/">Careers</a></li>
          <li id="menu-item-12221" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12221"><a href="https://www.scripted.com/reviews/">Customer Reviews</a></li>
        </ul>
        <span class="icon-arrow-down"></span></li>
      <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-46"><a href="https://www.scripted.com/resources-events/">Resources &amp; Events</a>
        <ul class="sub-menu">
          <li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41"><a href="https://www.scripted.com/blogs/">Blogs</a></li>
          <li id="menu-item-12229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12229"><a href="https://dashboard.scripted.com/quizzes/planner">Content Planner</a></li>
        </ul>
        <span class="icon-arrow-down"></span></li>
      <li id="menu-item-12222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12222"><a href="https://dashboard.scripted.com/business/register">Customer Sign Up</a></li>
      <li id="menu-item-12223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12223"><a href="https://app.scripted.com/writers/sign_up">Writer Sign Up</a></li>
      <li id="menu-item-8132" class="mobile-display menu-item menu-item-type-post_type menu-item-object-page menu-item-8132"><a href="https://www.scripted.com/contact/">Contact Sales</a></li>
      <li id="menu-item-8407" class="mobile-display menu-item menu-item-type-post_type menu-item-object-page menu-item-8407"><a href="https://www.scripted.com/support/">Support</a></li>
    </ul></div>
    <div class="nav-social">
    <a href="https://twitter.com/getscripted" target="_blank"><span class="icon-social-twitter"></span></a>
    <a href="https://www.facebook.com/getscripted" target="_blank"><span class="icon-social-facebook"></span></a>
    </div>
    <div class="universal-ctas mobile-remove center-text">
      <p class="white">Questions about getting started?</p>
      <a href="https://scripted.com/contact/" class="cta blue medium dark-bg">Contact Sales</a>
      <a href="https://scripted.com/support/" class="cta red medium dark-bg">Contact Support</a>
    </div>
  </div></nav>

<div class="wrap" id="wrap">

  <header class="group">
    <div class="header-bar"></div>
    <a href="https://www.scripted.com" class="home-link responsive-center">
      <img src="https://www.scripted.com/wp-content/themes/scripted/images/scripted-logo-temp.png" alt="Scripted" />
      <span class="icon-scroll-logo"></span>
    </a>

    <div class="site-nav tablet-remove">
      <div class="site-link triggers">
        <a href="https://www.scripted.com/products-pricing/">Products &amp; Pricing</a>
		<span class="site-links-hidden hide" style="display: none;">
            <a href="https://www.scripted.com/products-pricing/">By Formats</a>
			<a href="https://www.scripted.com/monthly-content-plans/">Content Plans</a>
			<a href="https://www.scripted.com/agencies/">Scripted For Agencies</a>
			<a href="https://www.scripted.com/products-pricing/account-management/">Managed Services</a>
			<a href="https://dashboard.scripted.com/business/topic-marketplace">Topic Marketplace</a>
        </span>
      </div>
      <div class="site-link">
        <a href="https://www.scripted.com/how-it-works/">How It Works</a>
      </div>
      <div class="site-link triggers">
        <a href="https://www.scripted.com/resources-events/">Resources</a>
                    <span class="site-links-hidden hide" style="display: none;">
                        <a href="https://dashboard.scripted.com/quizzes/planner">Content Planner</a>
                        <a href="https://www.scripted.com/blogs/">Blogs</a>
                        <a href="https://www.scripted.com/industries/">Our Work</a>
                        <a href="https://scripted.zendesk.com/hc/en-us/categories/200139050-Businesses">Customer FAQ</a>
                    </span>
      </div>
      <div class="site-link triggers">
        <a href="https://www.scripted.com/our-writers/">Writers</a>
                    <span class="site-links-hidden hide" style="display: none;">
                        <a href="https://app.scripted.com/writers/sign_up">Writer Sign-Up</a>
			            <a href="https://www.scripted.com/writing-for-scripted/">Writing For Scripted</a>
			            <a href="https://www.scripted.com/scripted-editor/">Become An Editor</a>
			            <a href="https://scripted.zendesk.com/hc/en-us/categories/200139040-Writers">FAQ</a>
                    </span>
      </div>
      <div class="site-link">
        <a href="https://www.scripted.com/contact/">Contact Us</a>
      </div>
    </div>

    <div class="utility-nav desktop">
      <div class="join-link triggers">
        <a>GET STARTED</a>
        <div class="join-links-hidden hide" style="display: none;">
          <a href="https://dashboard.scripted.com/business/register">Business</a>
          <a href="https://dashboard.scripted.com/writer/register">Writer</a>
        </div>
      </div>

      <div class="login-link triggers">
        <a>Login</a>
        <div class="login-links-hidden hide" style="display: none;">
          <a href="https://dashboard.scripted.com/business/login">Business</a>
          <a href="https://dashboard.scripted.com/writer">Writer</a>
        </div>
      </div>
      <a href="#menu" class="menu-link mobile-display tablet-display">
        <span class="icon-hamburger"></span>
      </a>
    </div>
  </header>

  <section class="top">

    <div class="center homepage">

      <div class="prompt homepage">
        <p class="title-text">
          Leave the writing to us
        </p>
        <h3> Scripted makes it easy to create original, high-quality content at any scale.</h3>
      </div>

      <div class="play-button">
        <a href="//fast.wistia.net/embed/iframe/lievd8tvqz?popover=true" class="wistia-popover[height=338,playerColor=356c9e,width=600]"><span class="play-caret"></span></a>
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/popover-v1.js">

        </script>
      </div>

    </div>

    <p class="cta-set">
      <a href="https://scripted.com/get-started/" class="cta red dark-bg">GET CONTENT</a>
    </p>

  </section>

  <section class="how-it-works">

    <div class="title-banner">
      <div class="top-border">
        <span class="icon-scroll-logo"></span>
      </div>
    </div>

    <h2 class="title">THE #1 MARKETPLACE FOR ORIGINAL CONTENT CREATION</h2>
    <div class="bottom-border">

    </div>

    <div class="home-points first">
      <div class="point first">Whether you need help writing <span>blog posts, product descriptions, social content, local guides or white papers</span>...</div>
      <div class="point">
        <img src="https://scripted.com/wp-content/uploads/2016/02/homepage-content.png">
        <img src="https://scripted.com/wp-content/uploads/2016/02/homepage-content2.png">
      </div>
    </div>

    <div class="home-point-background">

    </div>

    <div class="home-points">
      <div class="point qualitymark">
        <img src="https://scripted.com/wp-content/uploads/2016/02/qualitymark-02.png">
      </div>
      <div class="point first">...Scripted makes it easy to <span>produce content with affordable flat-rate pricing and our quality guarantee.</span></div>
    </div>

    <p class="cta-set">
      <a href="https://scripted.com/how-it-works/" class="cta blue ">LEARN MORE</a>
    </p>

  </section>

  <section class="customer-testimonial">
    <div class="testimonial">
      <span style="width: 90%; display:inline-block;">" Scripted has been a great partner, delivering fantastic content which we have been able to publish consistently on our platforms. "</span>
    </div>

    <div class="testimonial-background">
      <div class="avatar">
        <a><img src="https://scripted.com/wp-content/uploads/2016/02/KateiBurt.png"></a>
      </div>
      <div class="name">Katie Burt</div>
      <div class="position">Social Media Manager, adidas</div>
    </div>

    <p class="cta-set">
      <a href="https://scripted.com/resources-events/" class="cta banner inverse">SEE CASE STUDIES</a>
    </p>
  </section>

  <section class="packages">
    <div class="section-title">Content For Every Business Need</div>
    <div class="center group">
      <a href="https://scripted.com/cpt-resources/scripted-case-study-42floors/">
      </a>
      <div class="option"><a href="https://scripted.com/cpt-resources/scripted-case-study-42floors/">
      <div class="option-description">
        <div class="option-section-title">
          <span>SMB</span>
        </div>
        <ul>
          <li>
            Order content when you need it</li>
          <li>
            More time to focus on core strategy</li>
          <li>
            No monthly minimums</li>
        </ul>
      </div>
      <div class="option-testimonial">
        <div class="option-testimonial-author">
          <div class="option-avatar"><img src="https://scripted.com/wp-content/uploads/2014/02/bernard-42floors.jpg" alt="Bernard 42 Floors "></div>
          <blockquote>"Scripted is seamless. It’s really a simple process compared to other services where you have to go through a recruiting process, or where you might have to pay a monthly fee to even just to be on the network."</blockquote>
          Bernard Huang, Chief Growth Hacker<br>
          <img src="https://scripted.com/wp-content/uploads/2014/02/logos-42floors.png" alt="42 Floors">
        </div>
      </div>
    </a>
        <a href="https://scripted.com/cpt-resources/scripted-case-study-42floors/" class="option-cta">Read Case Study <span class="icon-small-suitcase"></span>
        </a>
    </div>

      <a href="">
      </a>
      <div class="option">
        <a href="">
      <div class="option-description">
        <div class="option-section-title">
          <span>Agency</span>
        </div>
        <ul>
          <li>Provide original content for clients</li>
          <li>Build virtual writing teams</li>
          <li>Scale your content creation</li>
        </ul>
      </div>
      <div class="option-testimonial">
        <div class="option-testimonial-author">
          <div class="option-avatar"><img style="padding:0px;" src="https://scripted.com/wp-content/uploads/2016/01/Dan_jumpsuit.png" alt="Dan Jumpsuit"></div>
          <blockquote>"Working with Scripted has allowed us to scale at a rate that was previously unattainable. I really appreciate the user-friendly interface thanks to its very simple &amp; logical design."</blockquote>
          Dan Defina, Lead Generation Manager<br>
          <img style="max-height:105px;" src="https://scripted.com/wp-content/uploads/2016/01/jumpsuitlogo.png" alt="Jumpsuit">
        </div>
      </div>
    </a>
        <a href="https://scripted.com/cpt-resources/jump-suit-group/" class="option-cta">Read Case Study <span class="icon-small-suitcase"></span></a>
    </div>

      <a href="">
      </a>
      <div class="option"><a href="">
      <div class="option-description">
        <div class="option-section-title">
          <span>Enterprise</span>
        </div>
        <ul>
          <li>
            Professional content at any scale</li>
          <li>Premium managed services</li>
          <li>Quick turnaround at any volume</li>
        </ul>
      </div>
      <div class="option-testimonial">
        <div class="option-testimonial-author">
          <div class="option-avatar"><img src="https://scripted.com/wp-content/uploads/2016/02/eventbrite-megan.jpg" alt="Eventbrite Megan"></div>
          <blockquote>"Scripted saved me time and energy. The writers really took the time to understand the topic and the context within the topic."</blockquote>
          Megan Buell, Lead Generation Marketing Manager<br>
          <img style="height:85px;margin-top:20px;" src="https://scripted.com/wp-content/uploads/2016/02/EventbriteLogo.png" alt="Eventbrite">
        </div>
      </div>
    </a>
        <a href="https://scripted.com/cpt-resources/eventbrite-case-study/" class="option-cta">Read Case Study <span class="icon-small-suitcase"></span></a>
    </div>
    </div>
  </section>

  <section class="press-mentions">
    <div class="validation cycle-slideshow" data-cycle-fx="carousel" data-cycle-timeout="1" data-cycle-speed="4000" data-cycle-easing="linear" data-cycle-pause-on-hover="true" style="position: relative; overflow: hidden;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;"><div class="cycle-carousel-wrap" style="margin: 0px; padding: 0px; top: 0px; left: -4416.3px; position: absolute; white-space: nowrap;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-apartmentlist.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-zazzel.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-readytalk.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-percolate.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 95; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-linkedin.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 94; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-insideview.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 93; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-healthline.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 92; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-geckoboard.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 91; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/eventbrite-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 90; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/loreal-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 89; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-apartmentlist.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-zazzel.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-readytalk.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-percolate.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 95; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-linkedin.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 94; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-insideview.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 93; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-healthline.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 92; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-geckoboard.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 91; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/eventbrite-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 90; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/loreal-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 89; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-apartmentlist.jpg" alt="" class="cycle-slide cycle-slide-active" style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-zazzel.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-readytalk.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-percolate.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 95; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-linkedin.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 94; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-insideview.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 93; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-healthline.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 92; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-geckoboard.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 91; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/eventbrite-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 90; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/loreal-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 89; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-apartmentlist.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-zazzel.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-readytalk.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-percolate.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 95; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-linkedin.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 94; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-insideview.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 93; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-healthline.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 92; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-geckoboard.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 91; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/eventbrite-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 90; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/loreal-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 89; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-creative-market.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: inline-block; visibility: visible;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-apartmentlist.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 99; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-zazzel.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 97; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-readytalk.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 96; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-percolate.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 95; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-linkedin.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 94; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-insideview.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 93; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-healthline.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 92; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/logo-bw-geckoboard.jpg" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 91; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/eventbrite-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 90; display: inline-block;"><img src="https://www.scripted.com/wp-content/uploads/2014/02/loreal-logo-bw.png" alt="" class="cycle-slide" style="position: static; top: 0px; left: 0px; z-index: 89; display: inline-block;"></div>
    </div>
  </section>

  <section class="our-writers">
    <div class="section-title">The Best Writers on the Web</div>
    <div class="section-subtitle">Only 1% of writers accepted.</div>
    <div class="center group">
      <a href="https://www.scripted.com/industries/business/" class="better-feature-box">
        <span class="icon-industies-business"></span>
        <p>Business</p>
        <span class="plus-toggle">+</span>
      </a>
      <a href="https://www.scripted.com/industries/art-design/" class="better-feature-box">
        <span class="icon-industries-design"></span>
        <p>Art &amp; Design</p>
        <span class="plus-toggle">+</span>
      </a>
      <a href="https://www.scripted.com/industries/food-beverage/" class="better-feature-box">
        <span class="icon-industries-food-beverage"></span>
        <p>Food &amp; Beverage</p>
        <span class="plus-toggle">+</span>
      </a>
      <a href="https://www.scripted.com/industries/entertainment/" class="better-feature-box">
        <span class="icon-industry-entertainment"></span>
        <p>Entertainment</p>
        <span class="plus-toggle">+</span>
      </a>
      <a href="https://www.scripted.com/industries/healthcare/" class="better-feature-box">
        <span class="icon-industries-healthcare"></span>
        <p>Healthcare &amp; Sciences</p>
        <span class="plus-toggle">+</span>
      </a>
      <a href="https://www.scripted.com/industries" class="better-feature-box">
        <span>+</span>
        <p>View All Industries</p>
        <span class="plus-toggle">+</span>
      </a>
    </div>

    <div class="featured-writers">
      <div class="center group">
        <div class="featured-writer selected">
          <div class="avatar"><a href="https://www.scripted.com/?page_id=19#writers-anchor"><img src="https://www.scripted.com/wp-content/uploads/2014/02/avatar-amandaA.jpg"></a></div>
          <a href="https://www.scripted.com/?page_id=19#writers-anchor" class="author-name">Amanda A.</a>
          <ul class="author-info">
            <li>5 years in marketing tech</li>
            <li>Passion is writing</li>
            <li>Articles and white papers</li>
            <li><a href="https://www.scripted.com/?page_id=19#writers-anchor">Meet Amanda A.</a></li>
          </ul>
        </div>
        <div class="featured-writer">
          <div class="avatar"><a href="https://www.scripted.com/?page_id=19#writers-anchor"><img src="https://www.scripted.com/wp-content/uploads/2014/02/avatar-beckyB.jpg"></a></div>
          <a href="https://www.scripted.com/?page_id=19#writers-anchor" class="author-name">Becky B.</a>
          <ul class="author-info">
            <li>7 years in publishing</li>
            <li>Magazine and web experience</li>
            <li>B.A. in writing from Yale University</li>
            <li><a href="https://www.scripted.com/?page_id=19#writers-anchor">Meet Becky B.</a></li>
          </ul>
        </div>
        <div class="featured-writer">
          <div class="avatar"><a href="https://www.scripted.com/?page_id=19#writers-anchor"><img src="https://www.scripted.com/wp-content/uploads/2014/02/avatar-maryB.jpg"></a></div>
          <a href="https://www.scripted.com/?page_id=19#writers-anchor" class="author-name">Mary B.</a>
          <ul class="author-info">
            <li>10 years in communication</li>
            <li>Worked in top NY Agencies</li>
            <li>Creative writing degree</li>
            <li><a href="https://www.scripted.com/?page_id=19#writers-anchor">Meet Mary B.</a></li>
          </ul>
        </div>
        <div class="featured-writer">
          <div class="avatar"><a href="https://www.scripted.com/?page_id=19#writers-anchor"><img src="https://www.scripted.com/wp-content/uploads/2014/02/avatar-michaelE.jpg"></a></div>
          <a href="https://www.scripted.com/?page_id=19#writers-anchor" class="author-name">Michael E.</a>
          <ul class="author-info">
            <li>Top business writer</li>
            <li>Marketing and Social Media Expert</li>
            <li>Blog posts and white papers</li>
            <li><a href="https://www.scripted.com/?page_id=19#writers-anchor">Meet Michael E.</a></li>
          </ul>
        </div>
        <div class="featured-writer">
          <div class="avatar"><a href="https://www.scripted.com/?page_id=19#writers-anchor"><img src="https://www.scripted.com/wp-content/uploads/2014/02/avatar-michaelN.png"></a></div>
          <a href="https://www.scripted.com/?page_id=19#writers-anchor" class="author-name">Michael N.</a>
             <ul class="author-info">
            <li>SPECIALIZES IN SPORTS AND POLITICS</li>
            <li>DEDICATED FULL-TIME WRITER</li>
            <li>MASTERS DEGREE IN JOURNALISM</li>
            <li><a href="https://www.scripted.com/?page_id=19#writers-anchor">Meet Michael N.</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="prop">
    <div class="section-title">Become a Scripted writer</div>
    <div class="prop-content">
      <div class="icon-list entry">
        <ul class="group">
          <li><span class="icon-small-bicycle"></span>Work from anywhere</li>
          <li><span class="icon-small-portfolio"></span>Build your writing profile</li>
          <li><span class="icon-small-wallet"></span>Guaranteed payment</li>
          <li><span class="icon-small-webinars"></span>Attend writing events</li>
          <li><span class="icon-small-whitepaper"></span>Write in your area of expertise</li>
          <li><span class="icon-industries-travel"></span>Make your own schedule</li>
        </ul>
      </div>
      <div class="stat-list">
        <!-- <h2>Become a Scripted writer</h2> -->
        <ul class="group">
          <li><span class="icon icon-medium-book-back"></span>7,000+<span class="stat-title">Writers</span></li>
          <li><span class="icon icon-medium-heart"></span>98%<span class="stat-title">of content accepted by clients</span></li>
          <li><span class="icon icon-medium-check"></span>Millions<span class="stat-title">Paid To Writers</span></li>

        </ul>
      </div>
    </div>
  </section>

  <div class="prop section-title">
    <p class="white">Think you have what it takes?</p>
    <p><a href="https://scripted.com/our-writers/" class="cta blue dark-bg">Become a Writer</a></p>
  </div>

  <section class="content-feed">
    <!-- <div class="section-title">Join The Conversation</div> -->
    <div class="section-subtitle"><p>All of the latest downloadable <a title="Resources &amp; Events" href="https://scripted.com/resources-events/">resources</a>, <a title="Blogs" href="https://scripted.com/blogs/">blog articles</a>, and <a title="Events Calendar" href="https://scripted.com/resources-events/events-calendar/">events</a>.</p>
    </div>
    <div class="center">
      <ul class="content-blocks three-up group">
        <li style="background-image:url(https://www.scripted.com/wp-content/uploads/2013/12/bernard-42floors-case-study.jpg);">
          <div class="dark-blue-overlay"></div>
          <div class="content-block-lockup">
            <a class="category-title-large case-study" href="https://www.scripted.com/cpt_resources_category/case-study/">/Case Study</a>                    <p class="excerpt"><a href="https://www.scripted.com/cpt-resources/scripted-case-study-42floors/">42Floors: How Scripted Scaled Our Content Strategy</a></p>
            <a href="https://www.scripted.com/cpt-resources/scripted-case-study-42floors/" class="simple-cta">Read White Paper</a>
          </div>
          <a href="https://www.scripted.com/?page_id=33" class="block-category">View All Resources <span class="icon-small-whitepaper"></span></a>
        </li>

        <li style="background-image:url(https://www.scripted.com/wp-content/uploads/2016/02/How-to-Rank-High-On-Google-Search-1-e1454522382849.png);">
          <div class="blue-overlay"></div>
          <div class="content-block-lockup">
            <a class="category-title-large" href="https://www.scripted.com/category/content-marketing-2/">/Content Marketing</a>						<p class="excerpt"><a href="https://www.scripted.com/content-marketing-2/rank-in-google-search-2016/">How to Rank High in Google Search in 2016</a></p>
            <a href="https://www.scripted.com/content-marketing-2/rank-in-google-search-2016/" class="simple-cta">Read Article</a>
          </div>
          <a href="https://www.scripted.com/?page_id=39" class="block-category">View Our Blog <span class="icon-small-whitepaper"></span></a>
        </li>
      </ul>
    </div>
  </section>

  <div class="footer">
    <a href="https://www.scripted.com" class="footer-logo">
      <img src="https://www.scripted.com/wp-content/uploads/2015/08/ScriptedLogo_180X110-02.png" alt="Scripted Logo">
      <!-- <span class="icon-logo-scripted"></span> --></a>
    <span class="footer-tagline">The New Way to Create Original Content</span>
    <div class="footer-container">
      <div class="footer-site-link">
        <span class="footer-site-link-header">Products &amp; Pricing</span>
        <span><a href="https://www.scripted.com/products-pricing/">Products &amp; Pricing Overview</a></span>
        <span><a href="https://www.scripted.com/products-pricing/account-management/">Account Management Services</a></span>
        <span><a href="https://www.scripted.com/white-papers-request/">White Papers</a></span>
        <span><a href="https://www.scripted.com/how-to-guides/">How To Guides</a></span>
        <span><a href="https://www.scripted.com/product-descriptions/">Product Descriptions</a></span>
        <span><a href="https://www.scripted.com/local-content/">Local Content</a></span>
        <span><a href="https://dashboard.scripted.com/business/register">Order Content On Scripted</a></span>
      </div>
      <div class="footer-site-link">
        <span class="footer-site-link-header">How it Works</span>
        <span><a href="https://www.scripted.com/how-it-works/">Scripted's Process and Features</a></span>
        <span><a href="https://www.scripted.com/how-it-works/writer-matching-technology/">Our Writer Vetting Technology</a></span>
        <span><a href="https://www.scripted.com/how-it-works/our-api/">Our API</a></span>
        <span><a href="https://www.scripted.com/content-for-agencies/">Content For Agencies</a></span>
        <span><a href="https://www.scripted.com/cpt-resources/scripted-enterprise-solutions/">Content for Enterprise</a></span>
      </div>
      <div class="footer-site-link">
        <span class="footer-site-link-header">Resources</span>
        <span><a href="https://www.scripted.com/resources-events/">Resources and Events</a></span>
        <span><a href="https://dashboard.scripted.com/business/topic-marketplace">Topic Marketplace</a></span>
        <span><a href="https://dashboard.scripted.com/quizzes/planner">Content Planner</a></span>
        <span><a href="https://www.scripted.com/blogs/">Blogs</a></span>
        <span><a href="https://www.scripted.com/industries/">Samples from Scripted Writers</a></span>
        <span><a href="https://scripted.zendesk.com/hc/en-us/categories/200139050-Businesses">Customer FAQ</a></span>
      </div>
      <div class="footer-site-link">
        <span class="footer-site-link-header">For Writers</span>
        <span><a href="https://www.scripted.com/our-writers/">Being A Scripted Writer</a></span>
        <span><a href="https://www.scripted.com/writing-for-scripted/">Writing For Scripted</a></span>
        <span><a href="https://www.scripted.com/scripted-editor/">Being A Scripted Editor</a></span>
        <span> <a href="https://scripted.zendesk.com/hc/en-us/categories/200139040-Writers">Writers FAQ</a></span>
        <span><a href="https://app.scripted.com/writers/sign_up">Apply</a></span>
      </div>
      <div class="footer-site-link">
        <span class="footer-site-link-header">Who we are</span>
        <span><a href="https://www.scripted.com/who-we-are/team/">Our Team</a></span>
        <span><a href="https://www.scripted.com/who-we-are/careers/">Careers</a></span>
        <span><a href="https://www.scripted.com/reviews/">Reviews of Scripted</a></span>
        <span><a href="https://www.scripted.com/who-we-are/in-the-news/">Press</a></span>
        <span><a href="https://www.scripted.com/contact/">Contact Sales</a></span>
        <span><a href="https://www.scripted.com/support/">Contact Support</a></span>

      </div>
    </div>
    <div class="footer-social-links">
      <a href="http://www.twitter.com/getscripted" target="_blank"><span class="icon-social-twitter"></span></a>
      <a href="http://www.facebook.com/getscripted" target="_blank"><span class="icon-social-facebook"></span></a>
      <a href="http://www.linkedin.com/company/scripted-com" target="_blank"><span class="icon-social-linkedin"></span></a>
      <a href="https://plus.google.com/+ScriptedSanFrancisco" target="_blank"><span class="icon-social-gplus"></span></a>
      <a href="http://www.youtube.com/user/ScriptedWriting" target="_blank"><span class="icon-social-youtube"></span></a>
    </div>
    <div class="copyright group">
      © 2016 Scripted, Inc. All rights reserved.  &nbsp;
      <br>
      <a href="https://www.scripted.com/privacy">Privacy</a>
    </div>
  </div>
  <div class="copyright group">
    © 2016 Scripted, Inc. All rights reserved.  &nbsp;  <a href="https://www.scripted.com/privacy">Privacy</a>  |  <a href="https://www.scripted.com/terms">Terms of Use</a>  |  <a href="https://www.scripted.com/agreement">Writer Services Agreement</a>  |  <a href="https://www.scripted.com/sitemap">Sitemap</a>  |  <a rel="nofollow" href="http://vtldesign.com" target="_blank"><img class="madeby" src="https://www.scripted.com/wp-content/themes/scripted/images/logo-made-by.png" alt="Made by Vital"></a>
  </div>
</div>

<script type="text/javascript">
    analytics.track("Viewed Home Page", {"noninteraction":true}, {"library":"analytics-wordpress"});
</script>

<script type="text/javascript">
    // <![CDATA[
    var disqus_shortname = 'scriptedblog';
    (function () {
        var nodes = document.getElementsByTagName('span');
        for (var i = 0, url; i < nodes.length; i++) {
            if (nodes[i].className.indexOf('dsq-postid') != -1) {
                nodes[i].parentNode.setAttribute('data-disqus-identifier', nodes[i].getAttribute('data-dsqidentifier'));
                url = nodes[i].parentNode.href.split('#', 1);
                if (url.length == 1) { url = url[0]; }
                else { url = url[1]; }
                nodes[i].parentNode.href = url + '#disqus_thread';
            }
        }
        var s = document.createElement('script');
        s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    // ]]>
</script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/jquery-cycle/jquery.cycle2.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/jquery-cycle/jquery.cycle2.swipe.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/jquery-cycle/jquery.cycle2.carousel.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/jquery-cycle/jquery.cycle2.center.min.js?ver=1.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/sharrre-widget-master/assets/jquery.sharrre.js?ver=1.0"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var SiteInfo = {"home_url":"https:\/\/www.scripted.com","theme_directory":"https:\/\/www.scripted.com\/wp-content\/themes\/scripted"};
    /* ]]> */
</script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/themes/scripted/scripts/site/main.js?ver=1.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/plugins/simple-subscribe/assets/netteForms.js?ver=1.0.0"></script>
<script type="text/javascript" src="https://www.scripted.com/wp-includes/js/wp-embed.min.js?ver=4.4.2"></script>
<script type="text/javascript" src="https://ssl-munchkin.marketo.net/js/munchkin.js?ver=44633"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var marketo_vars = {"munchkin_id":"995-WND-365"};
    /* ]]> */
</script>
<script type="text/javascript" src="https://www.scripted.com/wp-content/plugins/marketo/includes/marketo.js?ver=4.4.2"></script>

<!--[if lt IE 9 ]>
<script src="https://www.scripted.com/wp-content/themes/scripted/scripts/libraries/respond.min.js"></script>
<![endif]-->


<link rel="stylesheet" id="wistia_popover_css" href="https://fast.wistia.net/assets/stylesheets/jquery.fancybox.css?t=20121119"><script src="https://dc.ads.linkedin.com/collect/?time=1454596442425&amp;pid=6273&amp;url=https%3A%2F%2Fwww.scripted.com%2F&amp;pageUrl=https%3A%2F%2Fwww.scripted.com%2F&amp;ref=&amp;bzid=1e020376-b874-49f7-8bf1-ddb46d7d73b9&amp;cksm=E736483A5CF1A3FC&amp;fmt=js&amp;np.0.id=14&amp;np.0.time=1694&amp;s=1" type="text/javascript"></script><div style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.1103688704315573"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.08709460590034723" width="0" height="0" src="https://bat.r.msn.com/action-uic/0?ti=5037330&amp;Ver=2&amp;mid=568d8526-b223-bc14-eb35-8b525dedccf3&amp;evt=pageLoad&amp;lt=2930&amp;pi=-1748725250&amp;lg=en-US&amp;sw=1440&amp;sh=900&amp;sc=24&amp;tl=Content Writing Services On Demand | Scripted&amp;p=https%3A%2F%2Fwww.scripted.com%2F&amp;r=&amp;rn=448523"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.7608578866347671" width="0" height="0" src="https://bat.bing.com/action/0?ti=5037330&amp;Ver=2&amp;mid=568d8526-b223-bc14-eb35-8b525dedccf3&amp;evt=pageLoad&amp;lt=2930&amp;pi=-1748725250&amp;lg=en-US&amp;sw=1440&amp;sh=900&amp;sc=24&amp;tl=Content Writing Services On Demand | Scripted&amp;p=https%3A%2F%2Fwww.scripted.com%2F&amp;r=&amp;rn=765238"><img style="width:0px; height:0px; display:none; visibility:hidden;" id="batBeacon0.7406695473473519" width="0" height="0" src="https://bat.bing.com/action/0?ti=5037330&amp;Ver=2&amp;mid=568d8526-b223-bc14-eb35-8b525dedccf3&amp;ea=track&amp;el=Viewed Home Page&amp;evt=custom&amp;rn=645778"></div><img src="https://imp2.ads.linkedin.com/l" width="1" height="1" border="0" alt="" style="display: none;">
</body>
</html>
